.info-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.info-form-label {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: #022959;
  display: flex;
  flex-direction: column;
  gap: 8px;

  input {
    font-family: 'Ubuntu', sans-serif;
    height: 48px;
    border: 1px solid #D6D9E6;
    border-radius: 8px;
    text-indent: 16px;
    font-size: 16px;
    color: #022959;
    font-weight: 500;

    &:focus {
      outline: none;
      border: 1px solid #483EFF;
    }

    &::placeholder {
      color: #9699AA;
    }
  }

  .info-form-label-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-form-label-error {
    text-align: right;
    font-weight: 700;
    font-size: 14px;
    color: #EE374A;
  }
}

//plan section
.plans-wrapper {
  display: flex;
  gap: 18px;
}

.plan {
  background: #FFFFFF;
  border: 1px solid #D6D9E6;
  border-radius: 8px;
  width: 138px;
  height: 162px;
  padding-left: 16px;
  cursor: pointer;

  &:hover {
    border: 1px solid #483EFF;
    border-radius: 8px;
  }

  img {
    width: 40px;
    height: 40px;
    margin: 20px 0 39px 0;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
    color: #022959;
    margin-bottom: 7px;
  }

  p {
    font-size: 14px;
    color: #9699AA;
  }

  span {
    font-size: 12px;
    color: #022959;
    margin-top: 6px;
  }
}

.toggle-wrapper {
  width: 450px;
  height: 48px;
  background: #F8F9FF;
  border-radius: 8px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-content {
  width: 183px;
  display: flex;
  gap: 24px;
  align-items: center;

  p {
    font-size: 14px;
    font-weight: 500;
  }

  .ant-switch.css-dev-only-do-not-override-ixblex.ant-switch-checked, .ant-switch.css-dev-only-do-not-override-ixblex {
    background: #022959;
    width: 38px;
  }

  .ant-switch-inner, .ant-switch-inner-checked, .ant-switch-inner-unchecked {
    display: none;
  }
}

.add-on {
  background: #FFFFFF;
  border: 1px solid #D6D9E6;
  border-radius: 8px;
  width: 450px;
  height: 81px;

  &:first-child, &:nth-child(2) {
    margin-bottom: 16px;
  }

  &:hover {
    border: 1px solid #483EFF;
  }

  label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      margin: 0;
      padding: 0;
      border-radius: 0;
    }


    p {
      margin: 0 24px 0 auto;
      font-size: 15px;
      color: #483EFF;
    }
  }
}

.add-on-label-img {
  margin: 0 24px;
}

.add-on-label-span {
  font-size: 16px;
  font-weight: 500;
  color: #022959;
  line-height: 20px;

  span {
    font-size: 15px;
    font-weight: 400;
    color: #9699AA;
  }
}

.finishing-wrapper {
  background: #F8F9FF;
  border-radius: 8px;
  padding: 16px 24px;
}

.finishing-plan-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finishing-plan {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #022959;

  span {
    font-size: 14px;
    font-weight: 400;
    color: #9699AA;
    text-decoration: underline;
    cursor: pointer;
  }
}

.finishing-plan-total {
    font-size: 16px;
    font-weight: 700;
    color: #022959;
}

.finishing-plan-line {
  width: 402px;
  border-top: 1px solid #e4e5ee;
  margin: 24px auto 16px auto;
}

.finishing-add-on {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  &:last-of-type {
    margin-bottom: 0;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: #9699AA;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    color: #022959;
  }
}

.finishing-overall-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 14px 0 0;

    p {
        font-size: 14px;
        font-weight: 400;
        color: #9699AA;
    }

    span {
        font-size: 20px;
        font-weight: 700;
        color: #483EFF;
    }
}

.success-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

    img {
        width: 80px;
        height: 80px;
        margin-bottom: 32px;
    }

    h3 {
        font-size: 24px;
        font-weight: 700;
        color: #022959;
        margin-bottom: 14px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
        font-weight: 400;
        color: #9699AA;
        text-align: center;
    }
}